<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnskin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,175}</string>
                <key>spriteSourceSize</key>
                <string>{169,175}</string>
                <key>textureRect</key>
                <string>{{3,352},{169,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gitf_newbie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,184}</string>
                <key>spriteSourceSize</key>
                <string>{170,184}</string>
                <key>textureRect</key>
                <string>{{519,352},{170,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,72}</string>
                <key>spriteSourceSize</key>
                <string>{187,72}</string>
                <key>textureRect</key>
                <string>{{3,3},{187,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,168}</string>
                <key>spriteSourceSize</key>
                <string>{551,168}</string>
                <key>textureRect</key>
                <string>{{290,3},{551,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{880,442}</string>
                <key>spriteSourceSize</key>
                <string>{880,442}</string>
                <key>textureRect</key>
                <string>{{3,539},{880,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,81}</string>
                <key>spriteSourceSize</key>
                <string>{94,81}</string>
                <key>textureRect</key>
                <string>{{193,3},{94,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,175}</string>
                <key>spriteSourceSize</key>
                <string>{169,175}</string>
                <key>textureRect</key>
                <string>{{175,352},{169,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,175}</string>
                <key>spriteSourceSize</key>
                <string>{169,175}</string>
                <key>textureRect</key>
                <string>{{615,174},{169,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,175}</string>
                <key>spriteSourceSize</key>
                <string>{169,175}</string>
                <key>textureRect</key>
                <string>{{443,174},{169,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sharebtnmenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,173}</string>
                <key>spriteSourceSize</key>
                <string>{437,173}</string>
                <key>textureRect</key>
                <string>{{3,174},{437,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,175}</string>
                <key>spriteSourceSize</key>
                <string>{169,175}</string>
                <key>textureRect</key>
                <string>{{347,352},{169,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu_ui.png</string>
            <key>size</key>
            <string>{886,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41ba526c146ec9f6babd811a2c80d54b:d23a3368ca4e599c404266a41189bb2d:0df3b13942dc77e0d04b975c3f5a64c9$</string>
            <key>textureFileName</key>
            <string>menu_ui.png</string>
        </dict>
    </dict>
</plist>
