<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stepicon10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,212}</string>
                <key>spriteSourceSize</key>
                <string>{144,212}</string>
                <key>textureRect</key>
                <string>{{421,2},{144,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepicon11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,214}</string>
                <key>spriteSourceSize</key>
                <string>{146,214}</string>
                <key>textureRect</key>
                <string>{{2,221},{146,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepicon12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,215}</string>
                <key>spriteSourceSize</key>
                <string>{145,215}</string>
                <key>textureRect</key>
                <string>{{568,2},{145,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepicon13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,176}</string>
                <key>spriteSourceSize</key>
                <string>{137,176}</string>
                <key>textureRect</key>
                <string>{{134,2},{137,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepicon14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,176}</string>
                <key>spriteSourceSize</key>
                <string>{252,176}</string>
                <key>textureRect</key>
                <string>{{567,221},{252,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepicon15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,176}</string>
                <key>spriteSourceSize</key>
                <string>{253,176}</string>
                <key>textureRect</key>
                <string>{{2,438},{253,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepicon16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,203}</string>
                <key>spriteSourceSize</key>
                <string>{303,203}</string>
                <key>textureRect</key>
                <string>{{258,438},{303,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepicon17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,172}</string>
                <key>spriteSourceSize</key>
                <string>{249,172}</string>
                <key>textureRect</key>
                <string>{{315,221},{249,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepicon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,192}</string>
                <key>spriteSourceSize</key>
                <string>{161,192}</string>
                <key>textureRect</key>
                <string>{{151,221},{161,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepicon7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,216}</string>
                <key>spriteSourceSize</key>
                <string>{144,216}</string>
                <key>textureRect</key>
                <string>{{274,2},{144,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepicon8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,213}</string>
                <key>spriteSourceSize</key>
                <string>{146,213}</string>
                <key>textureRect</key>
                <string>{{864,2},{146,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepicon9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,213}</string>
                <key>spriteSourceSize</key>
                <string>{145,213}</string>
                <key>textureRect</key>
                <string>{{716,2},{145,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepname10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,115}</string>
                <key>spriteSourceSize</key>
                <string>{332,115}</string>
                <key>textureRect</key>
                <string>{{337,880},{332,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepname11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,115}</string>
                <key>spriteSourceSize</key>
                <string>{331,115}</string>
                <key>textureRect</key>
                <string>{{336,762},{331,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepname12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,114}</string>
                <key>spriteSourceSize</key>
                <string>{332,114}</string>
                <key>textureRect</key>
                <string>{{2,880},{332,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepname13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,109}</string>
                <key>spriteSourceSize</key>
                <string>{325,109}</string>
                <key>textureRect</key>
                <string>{{564,438},{325,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepname14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,115}</string>
                <key>spriteSourceSize</key>
                <string>{333,115}</string>
                <key>textureRect</key>
                <string>{{337,998},{333,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepname15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,109}</string>
                <key>spriteSourceSize</key>
                <string>{328,109}</string>
                <key>textureRect</key>
                <string>{{332,644},{328,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepname16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,114}</string>
                <key>spriteSourceSize</key>
                <string>{328,114}</string>
                <key>textureRect</key>
                <string>{{663,644},{328,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepname17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,114}</string>
                <key>spriteSourceSize</key>
                <string>{331,114}</string>
                <key>textureRect</key>
                <string>{{670,762},{331,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepname6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,115}</string>
                <key>spriteSourceSize</key>
                <string>{327,115}</string>
                <key>textureRect</key>
                <string>{{2,644},{327,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepname7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,115}</string>
                <key>spriteSourceSize</key>
                <string>{332,115}</string>
                <key>textureRect</key>
                <string>{{2,998},{332,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepname8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,115}</string>
                <key>spriteSourceSize</key>
                <string>{331,115}</string>
                <key>textureRect</key>
                <string>{{2,762},{331,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepname9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,115}</string>
                <key>spriteSourceSize</key>
                <string>{332,115}</string>
                <key>textureRect</key>
                <string>{{672,880},{332,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>steptitlebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,94}</string>
                <key>spriteSourceSize</key>
                <string>{348,94}</string>
                <key>textureRect</key>
                <string>{{673,998},{348,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{68,2},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingxing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{2,2},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stepiconlist.png</string>
            <key>size</key>
            <string>{1023,1115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6df7b59997e77ff23573f2f2a1ac2aef:8f59cf2008cf5ad9b8c85f9d7a5941fd:bb11ed9802626334e7161d0d3c80f70f$</string>
            <key>textureFileName</key>
            <string>stepiconlist.png</string>
        </dict>
    </dict>
</plist>
