<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgtitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,70}</string>
                <key>spriteSourceSize</key>
                <string>{503,70}</string>
                <key>textureRect</key>
                <string>{{3,364},{503,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanweishengji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,146}</string>
                <key>spriteSourceSize</key>
                <string>{437,146}</string>
                <key>textureRect</key>
                <string>{{3,215},{437,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gantanhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{3,3},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepshare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,110}</string>
                <key>spriteSourceSize</key>
                <string>{506,110}</string>
                <key>textureRect</key>
                <string>{{3,437},{506,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuanjiaojuxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,209}</string>
                <key>spriteSourceSize</key>
                <string>{262,209}</string>
                <key>textureRect</key>
                <string>{{80,3},{262,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stepview.png</string>
            <key>size</key>
            <string>{512,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7255dd5ed9cd1251dbe41f1e26c9e585:a4d2d6b42262de5753ffa64a9c25a54e:a818fa751c5d7c7b8cdae7ec35b531d2$</string>
            <key>textureFileName</key>
            <string>stepview.png</string>
        </dict>
    </dict>
</plist>
