<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,312}</string>
                <key>spriteSourceSize</key>
                <string>{640,312}</string>
                <key>textureRect</key>
                <string>{{0,629},{640,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_desc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,149}</string>
                <key>spriteSourceSize</key>
                <string>{520,149}</string>
                <key>textureRect</key>
                <string>{{0,480},{520,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnlook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,181}</string>
                <key>spriteSourceSize</key>
                <string>{422,181}</string>
                <key>textureRect</key>
                <string>{{422,299},{422,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnlookvideo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,181}</string>
                <key>spriteSourceSize</key>
                <string>{422,181}</string>
                <key>textureRect</key>
                <string>{{0,299},{422,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,181}</string>
                <key>spriteSourceSize</key>
                <string>{422,181}</string>
                <key>textureRect</key>
                <string>{{422,118},{422,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,181}</string>
                <key>spriteSourceSize</key>
                <string>{422,181}</string>
                <key>textureRect</key>
                <string>{{0,118},{422,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luckygame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,118}</string>
                <key>spriteSourceSize</key>
                <string>{441,118}</string>
                <key>textureRect</key>
                <string>{{266,0},{441,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tool_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,116}</string>
                <key>spriteSourceSize</key>
                <string>{225,116}</string>
                <key>textureRect</key>
                <string>{{41,0},{225,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tangkuang.png</string>
            <key>size</key>
            <string>{844,941}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51a761d9d64e1a52263067e56e7d6c3b:17fb370f2ee3822c92be480083979b28:84dd3d66bf5fa9d5dc77de611772de25$</string>
            <key>textureFileName</key>
            <string>tangkuang.png</string>
        </dict>
    </dict>
</plist>
