<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{266,0},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,181}</string>
                <key>spriteSourceSize</key>
                <string>{170,181}</string>
                <key>textureRect</key>
                <string>{{0,224},{170,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btndoublescore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,214}</string>
                <key>spriteSourceSize</key>
                <string>{170,214}</string>
                <key>textureRect</key>
                <string>{{0,424},{170,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnvideo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,221}</string>
                <key>spriteSourceSize</key>
                <string>{170,221}</string>
                <key>textureRect</key>
                <string>{{170,424},{170,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,113}</string>
                <key>spriteSourceSize</key>
                <string>{271,113}</string>
                <key>textureRect</key>
                <string>{{0,111},{271,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{170,224},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>return_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,94}</string>
                <key>spriteSourceSize</key>
                <string>{196,94}</string>
                <key>textureRect</key>
                <string>{{70,0},{196,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{377,645}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cb46fcf7fe5a7fc03b56e76627d37b6:f077a9306d90d04d604be7598fe2d326:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
