<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{122,0},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{244,0},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{366,0},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{0,120},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{122,120},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{244,120},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>behiteffect.png</string>
            <key>size</key>
            <string>{488,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bab604913fa77f83a9dd404f614551a:cc3407e7f211b82b9f1d508a4af9a0ca:5917740558fc010157df0165dd3b97a5$</string>
            <key>textureFileName</key>
            <string>behiteffect.png</string>
        </dict>
    </dict>
</plist>
