<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{472,3},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{859,120},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{3,237},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{752,120},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,117}</string>
                <key>spriteSourceSize</key>
                <string>{107,117}</string>
                <key>textureRect</key>
                <string>{{862,237},{107,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,117}</string>
                <key>spriteSourceSize</key>
                <string>{107,117}</string>
                <key>textureRect</key>
                <string>{{752,237},{107,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_bian1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{538,120},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_bian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{645,120},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_bian3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{538,237},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_bian4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{645,237},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_bright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{431,237},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_di1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{324,237},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_di2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{217,237},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_di3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{110,237},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_di4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{217,120},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_monster1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{431,120},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_monster2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{686,3},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_monster3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{365,3},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_monster4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{579,3},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{3,120},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{793,3},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_star3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{324,120},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_star4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{110,120},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_subbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,99}</string>
                <key>textureRect</key>
                <string>{{56,3},{100,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,32}</string>
                <key>spriteSourceSize</key>
                <string>{298,32}</string>
                <key>textureRect</key>
                <string>{{199,357},{298,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,32}</string>
                <key>spriteSourceSize</key>
                <string>{298,32}</string>
                <key>textureRect</key>
                <string>{{500,357},{298,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{159,3},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble1_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,187}</string>
                <key>spriteSourceSize</key>
                <string>{315,187}</string>
                <key>textureRect</key>
                <string>{{3,411},{315,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,51}</string>
                <key>spriteSourceSize</key>
                <string>{193,51}</string>
                <key>textureRect</key>
                <string>{{3,357},{193,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,83}</string>
                <key>spriteSourceSize</key>
                <string>{50,83}</string>
                <key>textureRect</key>
                <string>{{3,3},{50,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{262,3},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>block.png</string>
            <key>size</key>
            <string>{972,601}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0a6c5e8448249f0ba71d4168a528493:279b06c47ff3ec7dbb65a431f80a5961:a971120542bcd3c037bcefa50fb021b3$</string>
            <key>textureFileName</key>
            <string>block.png</string>
        </dict>
    </dict>
</plist>
