<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mon1hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1move1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{86,0},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1move2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{160,0},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1move3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{234,0},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1move4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{308,0},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1move5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{382,0},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1move6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{0,98},{74,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{74,98},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1stand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{146,98},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1stand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{218,98},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1stand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{290,98},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1stand5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{362,98},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1stand6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,96}</string>
                <key>spriteSourceSize</key>
                <string>{72,96}</string>
                <key>textureRect</key>
                <string>{{434,98},{72,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster1.png</string>
            <key>size</key>
            <string>{506,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:766dc38fbee5f487843dfe154cdac9e8:600cd98a6f3a561abaa33513f45a3a15:a883e8420f31a0138985457757d94c24$</string>
            <key>textureFileName</key>
            <string>monster1.png</string>
        </dict>
    </dict>
</plist>
