<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mon0hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,126}</string>
                <key>spriteSourceSize</key>
                <string>{132,126}</string>
                <key>textureRect</key>
                <string>{{2,2},{132,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0move1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,107}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{136,2},{105,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0move2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,107}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{243,2},{105,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0move3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,107}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{350,2},{105,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0move4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,107}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{2,130},{105,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0move5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,107}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{109,130},{105,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0move6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,107}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{216,130},{105,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0move7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,107}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{323,130},{105,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0move8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,107}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{2,239},{105,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{109,239},{115,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0stand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{226,239},{115,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0stand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{343,239},{115,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0stand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{2,348},{115,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0stand5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{119,348},{115,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon0stand6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{236,348},{115,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster0.png</string>
            <key>size</key>
            <string>{460,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fe27feb94b292f0a6f2d7ad6c095dad:92065764c4ef581517dc3765b09329cf:eb8f22619a2c885df33dbdba6d411cfc$</string>
            <key>textureFileName</key>
            <string>monster0.png</string>
        </dict>
    </dict>
</plist>
