<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mon3hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,169}</string>
                <key>spriteSourceSize</key>
                <string>{185,169}</string>
                <key>textureRect</key>
                <string>{{2,2},{185,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3move1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,196}</string>
                <key>spriteSourceSize</key>
                <string>{202,196}</string>
                <key>textureRect</key>
                <string>{{213,360},{202,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3move2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,196}</string>
                <key>spriteSourceSize</key>
                <string>{202,196}</string>
                <key>textureRect</key>
                <string>{{417,360},{202,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3move3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,196}</string>
                <key>spriteSourceSize</key>
                <string>{202,196}</string>
                <key>textureRect</key>
                <string>{{2,558},{202,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3move4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,196}</string>
                <key>spriteSourceSize</key>
                <string>{202,196}</string>
                <key>textureRect</key>
                <string>{{614,558},{202,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3move5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,196}</string>
                <key>spriteSourceSize</key>
                <string>{202,196}</string>
                <key>textureRect</key>
                <string>{{206,558},{202,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3move6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,196}</string>
                <key>spriteSourceSize</key>
                <string>{202,196}</string>
                <key>textureRect</key>
                <string>{{410,558},{202,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3move7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,196}</string>
                <key>spriteSourceSize</key>
                <string>{202,196}</string>
                <key>textureRect</key>
                <string>{{621,360},{202,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,177}</string>
                <key>spriteSourceSize</key>
                <string>{209,177}</string>
                <key>textureRect</key>
                <string>{{424,181},{209,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3stand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,177}</string>
                <key>spriteSourceSize</key>
                <string>{209,177}</string>
                <key>textureRect</key>
                <string>{{189,2},{209,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3stand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,177}</string>
                <key>spriteSourceSize</key>
                <string>{209,177}</string>
                <key>textureRect</key>
                <string>{{400,2},{209,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3stand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,177}</string>
                <key>spriteSourceSize</key>
                <string>{209,177}</string>
                <key>textureRect</key>
                <string>{{611,2},{209,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3stand5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,177}</string>
                <key>spriteSourceSize</key>
                <string>{209,177}</string>
                <key>textureRect</key>
                <string>{{2,181},{209,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3stand6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,177}</string>
                <key>spriteSourceSize</key>
                <string>{209,177}</string>
                <key>textureRect</key>
                <string>{{213,181},{209,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3stand7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,177}</string>
                <key>spriteSourceSize</key>
                <string>{209,177}</string>
                <key>textureRect</key>
                <string>{{2,360},{209,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster3.png</string>
            <key>size</key>
            <string>{825,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa3fd872e7864f04bdff5368a6c700b5:c4e59e7b54f8fc523ce076d2ece9349c:e8a6e7383b1d9dd60f39adffc53a53f3$</string>
            <key>textureFileName</key>
            <string>monster3.png</string>
        </dict>
    </dict>
</plist>
