<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>att_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{66,37}</string>
                <key>textureRect</key>
                <string>{{817,65},{66,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>att_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,37}</string>
                <key>spriteSourceSize</key>
                <string>{66,37}</string>
                <key>textureRect</key>
                <string>{{2,104},{66,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{2,150},{56,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,127}</string>
                <key>spriteSourceSize</key>
                <string>{30,127}</string>
                <key>textureRect</key>
                <string>{{376,405},{30,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_home_btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{677,150},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_home_btn_brown.pn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{244,150},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_home_btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{734,150},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_home_btn_yellow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,144}</string>
                <key>spriteSourceSize</key>
                <string>{55,144}</string>
                <key>textureRect</key>
                <string>{{465,405},{55,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,25}</string>
                <key>spriteSourceSize</key>
                <string>{15,25}</string>
                <key>textureRect</key>
                <string>{{95,2},{15,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_yqwq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{686,217},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{855,104},{43,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,43}</string>
                <key>spriteSourceSize</key>
                <string>{65,43}</string>
                <key>textureRect</key>
                <string>{{788,104},{65,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_home_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,66}</string>
                <key>spriteSourceSize</key>
                <string>{47,66}</string>
                <key>textureRect</key>
                <string>{{53,217},{47,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_home_blue1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,144}</string>
                <key>spriteSourceSize</key>
                <string>{55,144}</string>
                <key>textureRect</key>
                <string>{{408,405},{55,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_home_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,66}</string>
                <key>spriteSourceSize</key>
                <string>{49,66}</string>
                <key>textureRect</key>
                <string>{{2,217},{49,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_home_brown1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,144}</string>
                <key>spriteSourceSize</key>
                <string>{55,144}</string>
                <key>textureRect</key>
                <string>{{522,405},{55,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ptlq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,38}</string>
                <key>spriteSourceSize</key>
                <string>{111,38}</string>
                <key>textureRect</key>
                <string>{{221,104},{111,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{733,293},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bzxs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,27}</string>
                <key>spriteSourceSize</key>
                <string>{140,27}</string>
                <key>textureRect</key>
                <string>{{306,2},{140,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,28}</string>
                <key>spriteSourceSize</key>
                <string>{55,28}</string>
                <key>textureRect</key>
                <string>{{104,31},{55,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dqbj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,27}</string>
                <key>spriteSourceSize</key>
                <string>{98,27}</string>
                <key>textureRect</key>
                <string>{{448,2},{98,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dqhl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,27}</string>
                <key>spriteSourceSize</key>
                <string>{98,27}</string>
                <key>textureRect</key>
                <string>{{548,2},{98,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dqss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,28}</string>
                <key>spriteSourceSize</key>
                <string>{99,28}</string>
                <key>textureRect</key>
                <string>{{161,31},{99,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{232,217},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_xz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{715,65},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,19}</string>
                <key>spriteSourceSize</key>
                <string>{31,19}</string>
                <key>textureRect</key>
                <string>{{2,2},{31,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{102,217},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_common_dqsy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{334,104},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_common_sj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{262,31},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_common_sj_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{291,31},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_home_fl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{169,217},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_home_gq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{52,65}</string>
                <key>textureRect</key>
                <string>{{835,150},{52,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_home_jb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{2,293},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_home_sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,76}</string>
                <key>spriteSourceSize</key>
                <string>{55,76}</string>
                <key>textureRect</key>
                <string>{{80,293},{55,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_home_zs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{59,49}</string>
                <key>textureRect</key>
                <string>{{183,150},{59,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{56,78}</string>
                <key>textureRect</key>
                <string>{{333,293},{56,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,73}</string>
                <key>spriteSourceSize</key>
                <string>{76,73}</string>
                <key>textureRect</key>
                <string>{{608,217},{76,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_arrow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,45}</string>
                <key>spriteSourceSize</key>
                <string>{34,45}</string>
                <key>textureRect</key>
                <string>{{60,150},{34,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_gift_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{517,104},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_hjt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,47}</string>
                <key>spriteSourceSize</key>
                <string>{85,47}</string>
                <key>textureRect</key>
                <string>{{96,150},{85,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_jxyx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,52}</string>
                <key>spriteSourceSize</key>
                <string>{189,52}</string>
                <key>textureRect</key>
                <string>{{486,150},{189,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ksyx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,52}</string>
                <key>spriteSourceSize</key>
                <string>{186,52}</string>
                <key>textureRect</key>
                <string>{{298,150},{186,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{648,2},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,61}</string>
                <key>spriteSourceSize</key>
                <string>{42,61}</string>
                <key>textureRect</key>
                <string>{{791,150},{42,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jxyx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,38}</string>
                <key>spriteSourceSize</key>
                <string>{149,38}</string>
                <key>textureRect</key>
                <string>{{70,104},{149,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,344}</string>
                <key>spriteSourceSize</key>
                <string>{351,344}</string>
                <key>textureRect</key>
                <string>{{579,405},{351,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qsj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,23}</string>
                <key>spriteSourceSize</key>
                <string>{58,23}</string>
                <key>textureRect</key>
                <string>{{35,2},{58,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{760,217},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,33}</string>
                <key>spriteSourceSize</key>
                <string>{116,33}</string>
                <key>textureRect</key>
                <string>{{122,65},{116,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,36}</string>
                <key>textureRect</key>
                <string>{{751,65},{64,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,32}</string>
                <key>spriteSourceSize</key>
                <string>{61,32}</string>
                <key>textureRect</key>
                <string>{{754,31},{61,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_bxy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,42}</string>
                <key>spriteSourceSize</key>
                <string>{95,42}</string>
                <key>textureRect</key>
                <string>{{565,104},{95,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_hljc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,32}</string>
                <key>spriteSourceSize</key>
                <string>{118,32}</string>
                <key>textureRect</key>
                <string>{{2,65},{118,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_home_djlq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,25}</string>
                <key>spriteSourceSize</key>
                <string>{90,25}</string>
                <key>textureRect</key>
                <string>{{112,2},{90,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_home_hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,32}</string>
                <key>spriteSourceSize</key>
                <string>{60,32}</string>
                <key>textureRect</key>
                <string>{{817,31},{60,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_home_rw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{504,31},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_home_sy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{570,31},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_home_wq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,33}</string>
                <key>spriteSourceSize</key>
                <string>{64,33}</string>
                <key>textureRect</key>
                <string>{{330,65},{64,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_home_xsbx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,27}</string>
                <key>spriteSourceSize</key>
                <string>{100,27}</string>
                <key>textureRect</key>
                <string>{{204,2},{100,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_home_ysx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,33}</string>
                <key>spriteSourceSize</key>
                <string>{88,33}</string>
                <key>textureRect</key>
                <string>{{240,65},{88,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_lz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,32}</string>
                <key>spriteSourceSize</key>
                <string>{57,32}</string>
                <key>textureRect</key>
                <string>{{636,31},{57,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_mfsy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,40}</string>
                <key>spriteSourceSize</key>
                <string>{141,40}</string>
                <key>textureRect</key>
                <string>{{374,104},{141,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_ptlq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,43}</string>
                <key>spriteSourceSize</key>
                <string>{124,43}</string>
                <key>textureRect</key>
                <string>{{662,104},{124,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_qd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,32}</string>
                <key>spriteSourceSize</key>
                <string>{57,32}</string>
                <key>textureRect</key>
                <string>{{695,31},{57,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_xrhy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,32}</string>
                <key>spriteSourceSize</key>
                <string>{123,32}</string>
                <key>textureRect</key>
                <string>{{320,31},{123,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_yq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,32}</string>
                <key>spriteSourceSize</key>
                <string>{57,32}</string>
                <key>textureRect</key>
                <string>{{445,31},{57,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_cg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,34}</string>
                <key>spriteSourceSize</key>
                <string>{317,34}</string>
                <key>textureRect</key>
                <string>{{396,65},{317,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_qd_ylq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,86}</string>
                <key>spriteSourceSize</key>
                <string>{340,86}</string>
                <key>textureRect</key>
                <string>{{391,293},{340,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_qdjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,78}</string>
                <key>spriteSourceSize</key>
                <string>{194,78}</string>
                <key>textureRect</key>
                <string>{{137,293},{194,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,70}</string>
                <key>spriteSourceSize</key>
                <string>{304,70}</string>
                <key>textureRect</key>
                <string>{{302,217},{304,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_cggqs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,125}</string>
                <key>spriteSourceSize</key>
                <string>{372,125}</string>
                <key>textureRect</key>
                <string>{{2,405},{372,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tjbj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,27}</string>
                <key>spriteSourceSize</key>
                <string>{99,27}</string>
                <key>textureRect</key>
                <string>{{778,2},{99,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tjhl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,27}</string>
                <key>spriteSourceSize</key>
                <string>{99,27}</string>
                <key>textureRect</key>
                <string>{{677,2},{99,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tjss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,28}</string>
                <key>textureRect</key>
                <string>{{2,31},{100,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainUI.png</string>
            <key>size</key>
            <string>{932,751}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb69f3fed78da92f2befb0423c336162:3ad4defa5f4c8c40241b98a11650c6a1:6beb2eb301b940be9e1f67344a79a134$</string>
            <key>textureFileName</key>
            <string>mainUI.png</string>
        </dict>
    </dict>
</plist>
