<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,146}</string>
                <key>spriteSourceSize</key>
                <string>{493,146}</string>
                <key>textureRect</key>
                <string>{{494,582},{493,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,146}</string>
                <key>spriteSourceSize</key>
                <string>{488,146}</string>
                <key>textureRect</key>
                <string>{{494,436},{488,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,147}</string>
                <key>spriteSourceSize</key>
                <string>{491,147}</string>
                <key>textureRect</key>
                <string>{{491,728},{491,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,146}</string>
                <key>spriteSourceSize</key>
                <string>{494,146}</string>
                <key>textureRect</key>
                <string>{{0,582},{494,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,147}</string>
                <key>spriteSourceSize</key>
                <string>{492,147}</string>
                <key>textureRect</key>
                <string>{{0,875},{492,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,147}</string>
                <key>spriteSourceSize</key>
                <string>{491,147}</string>
                <key>textureRect</key>
                <string>{{0,728},{491,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,145}</string>
                <key>spriteSourceSize</key>
                <string>{495,145}</string>
                <key>textureRect</key>
                <string>{{0,145},{495,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,146}</string>
                <key>spriteSourceSize</key>
                <string>{494,146}</string>
                <key>textureRect</key>
                <string>{{0,436},{494,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,144}</string>
                <key>spriteSourceSize</key>
                <string>{492,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{492,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,146}</string>
                <key>spriteSourceSize</key>
                <string>{494,146}</string>
                <key>textureRect</key>
                <string>{{0,290},{494,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,147}</string>
                <key>spriteSourceSize</key>
                <string>{495,147}</string>
                <key>textureRect</key>
                <string>{{0,1022},{495,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,145}</string>
                <key>spriteSourceSize</key>
                <string>{494,145}</string>
                <key>textureRect</key>
                <string>{{492,0},{494,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,146}</string>
                <key>spriteSourceSize</key>
                <string>{494,146}</string>
                <key>textureRect</key>
                <string>{{494,290},{494,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,145}</string>
                <key>spriteSourceSize</key>
                <string>{491,145}</string>
                <key>textureRect</key>
                <string>{{495,145},{491,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,147}</string>
                <key>spriteSourceSize</key>
                <string>{494,147}</string>
                <key>textureRect</key>
                <string>{{492,875},{494,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newyear.png</string>
            <key>size</key>
            <string>{988,1169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8655c26ee97ac01d68df619b9d5a5af1:c95d83bf126339f9f77222da111539b2:e157e8437992d8d67e18d0ab42988574$</string>
            <key>textureFileName</key>
            <string>newyear.png</string>
        </dict>
    </dict>
</plist>
